* {
  font-family: "Georgia", sans-serif; /* Use the Montserrat font */
  margin: 0; /* Remove default margin */
  padding: 0; /* Remove padding */
  box-sizing: border-box; /* Add border box to all elements */
  text-align: center; /* center */
}
h1 {
  font-weight: bolder; /* bold */
}
.header {
  display: flex; /* Use flexbox to align elements horizontally */
  justify-content: flex-end; /* Move the navbar to the right */
  align-items: center; /* Center items vertically */
  background-color: #333;
  height: 60px; /* Adjust the height as needed */
}
ul.navbar {
  list-style: none;
  display: flex; /* Display list items horizontally */
  color: white;
}
li {
  margin-right: 20px; /* Add space between list items */
}
li a {
  color: white; /* White text color */
  text-decoration: none; /* Remove underline from links */
  padding: 10px 16px; /* Add some padding */
}
#pageLinks {
  color: black; /* Black text color */
  font-size: 15px; /* 1em = 12px */
  line-height: 10px; /* 1.2em = 14px */
  padding: 7px; /* 1em = 12px */
  border-radius: 8px; /* rounded corners */
  font-family: "Montserrat", sans-serif; /* Use the Montserrat font */
  font-weight: normal; /* bold */
  text-decoration: none; /* Remove underline from links */
  font-style: normal; /* italic */
  font-variant: normal; /* small caps */
  text-transform: none; /* uppercase/lowercase */
  background-image: linear-gradient(to right, white); /* gradient */
  border: 2px solid black; /* border */
  display: inline-block; /* inline */
}
#description {
  text-align: center; /* center */
  font-weight: normal; /* bold */
  font-style: normal; /* italic */
  font-variant: normal; /* small caps */
  text-transform: none; /* uppercase/lowercase */
  font-size: 15px; /* 1em = 12px */
  line-height: 20px; /* 1.2em = 14px */
  font-family: "Montserrat", sans-serif;
  padding: 10x; /* 1em = 12px */
  background-image: linear-gradient(to right, white); /* gradient */
  display: block; /* inline */
  margin: 0 auto;
  white-space: pre-wrap; /* wrap */
}
.footer {
  font-size: 12px; /* 1em = 12px */
  position: absolute; /* Position the navbar */
  left: 0; /* Place the navbar at the left side */
  bottom: 0; /* Place the navbar at the bottom of the page */
  width: 100%; /* Full width */
  background-color: #333; /* Black background color */
  color: white; 
  padding: 20px 0px; 
}
.row {
  display: flex; /* Use flexbox to align elements horizontally */
  justify-content: space-between; /* Add space between columns */
  align-items: center; /* Optional: Center images vertically */
  flex-wrap: wrap; /* Wrap the elements to the next line */
  max-width: 75%; /* Adjust as needed */
  margin: 0 auto; /* Center the row */
  gap: 115px; /* adds a gap between the images */
  justify-content: space-around; /* adds margin between each item */
}
.column {
  flex-basis: calc(
    25% - 10px
  ); /* Adjust the width of each column and the spacing between them */
  margin-bottom: 10px; /* Add margin for spacing between rows */
}

/* Desktop styles */
@media (min-width: 768px) {
  #search {
    font-size: larger;
  }

  .buttons {
    height: 50px;
    width: 100px;
    font-size: larger;
  }
  }
  #letterInput {
    height: 50px;
    width: 500px;
    border-style: none;
    font-size: larger;
  }
  .cardPlusMap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: rgb(250, 219, 172);
  }

  .card {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  #map {
    height: 400px;
  }

/* Mobile styles */
@media (max-width: 767px) {
  #search {
    font-size: larger;
  }
  }
  #button {
    height: 50px;
    width: 100px;
    font-size: larger;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  
  #letterInput {
    height: 50px;
    width: 500px;
    border-style: none;
    font-size: larger;
  }
  .cardPlusMap {
    display: flex;
    flex-direction: column;
    background-color: rgb(213, 223, 245);
  }

  .card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  #map {
    height: 300px; 
  }


/* card 
  info
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr; 
    grid-gap: 3px; 
  }
    
    #countryInfo {
      text-align: center;
    }
    
    #countryName {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 10px;
    }
    
    #infoParagraph,
    #latlng,
    #capital,
    #languages,
    #population {
      margin-bottom: 10px;
   Your card styles
  } */
