* {
  font-family: "Fraunces", serif;
  font-family: "Montserrat", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-align: center;
}
h1 {
  font-weight: bolder;
  margin-top: 10px;
}
.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  height: 60px;
}
ul.navbar {
  list-style: none;
  display: flex;
  color: white;
}
li {
  margin-right: 20px;
}
li a {
  color: white;
  text-decoration: none;
  padding: 10px 16px;
}
#pageLinks {
  color: black;
  font-size: 15px;
  line-height: 10px;
  padding: 7px;
  border-radius: 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  background-image: linear-gradient(to right, white);
  border: 2px solid black;
  display: inline-block;
}
#description {
  text-align: center;
  font-weight: normal;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  font-size: 15px;
  line-height: 20px;
  font-family: "Montserrat", sans-serif;
  padding: 10x;
  background-image: linear-gradient(to right, white);
  display: block;
  margin: 0 auto;
  white-space: pre-wrap;
}
.footer {
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #333;
  color: white;
  padding: 20px 0px;
}
.row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 75%;
  margin: 0 auto;
  gap: 115px;
  justify-content: space-around;
}
.column {
  flex-basis: calc(25% - 10px);
  margin-bottom: 10px;
}

a:link {
  color: black;
  text-decoration: none;
}
a:visited {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-style: italic;
}
a:hover {
  color: rgb(167, 18, 78);
  text-decoration: none;
  font-weight: bold;
}
a:active {
  color: rgb(17, 66, 17);
  font-weight: bold;
  font-style: italic;
}

/* Desktop styles */
@media (min-width: 768px) {
  #search {
    font-size: larger;
  }

  #buttons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    height: 50px;
    /*width: 200px;*/
    font-size: medium;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px 24px;
  }

  #storeCountry {
    margin-bottom: 60px;
    height: 50px;
    width: 100px;
  }

  #letterInput {
    height: 50px;
    width: 600px;
    border-style: none;
    font-size: larger;
  }
  .cardPlusMap {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    background-color: rgb(161, 218, 237);
    margin-top: 20px;
    margin-bottom: 10px;
  }

  .card {
    width: 500px;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  #map {
    height: 400px;
  }
}

/* Mobile styles */
@media (max-width: 767px) {
  #search {
    font-size: larger;
  }
  /*country buttons*/
  #buttons {
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: medium;
  }
  .li {
    margin: 10px;
  }
  .li a {
    margin: 10px;
    text-decoration: none;
    padding: 10px 16px;
  }
  #storeCountry {
    margin-bottom: 60px;
    height: 50px;
    width: 100px;
  }

  #letterInput {
    height: 50px;
    width: 550px;
    border-style: none;
    font-size: larger;
  }
  .cardPlusMap {
    display: flex;
    flex-direction: column;
    background-color: rgb(161, 224, 169);
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .card {
    width: 100%;
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
  }

  #map {
    height: 300px;
  }
}

#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 4rem;
}
#savedCountryName {
  margin-top: 50px;
}
#savedFlags {
  margin-top: 10px;
}
#favouriteList li {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
#favouriteList button {
  margin-top: 10px;
}
